body
{
	padding: 0px;
	margin: 0px;
	
}
h4
{
	text-align: center;	
}

.cl_div_content
{
	background-image:url("../images/pattern_bg1.png");

}

.cl_div_grid_wrapper
{
	width: 100%;
}

.cl_div_grid_comex
{
	display: block;
	border-radius: 5px;
	background-color: #FCFCB8;
	padding: 0px;
	margin:0px;
}

.cl_td_comex_label
{
	text-align:center;
	padding: 10px 0px;
	color: white;
	background-color: #B34E10;
	font-family: arial;
	font-size: 12pt;
	font-weight:bold;
}

.cl_td_comex_data
{
	text-align:center;
	padding: 10px 0px;
	color: black;
	font-family: arial;
	font-size: 10pt;
	font-weight:bold;
}

.cl_td_comex_data span
{
	text-align:center;
	padding: 10px 0px;
	color: black;
	font-family: arial;
	font-size: 13pt;
	font-weight: normal;
}

.cl_div_grid_symbol
{
	display: block;
	border-radius: 5px;
	background-color: #FCFCB8;
	padding: 0px;
	margin:0px;
}

.cl_td_symbol_label
{
	text-align:center;
	padding: 10px 0px;
	color: white;
	background-color: #B34E10;
	font-family: arial;
	font-size: 12pt;
	font-weight: bold;	
}

.cl_td_symbol_data
{
	text-align:center;
	padding: 5px 0px;
	color: black;
	font-family: arial;
	font-size: 10pt;
	font-weight:bold;
}

.cl_td_symbol_data span
{
	text-align:center;
	padding: 10px 0px;
	color: black;
	font-family: arial;
	font-size: 13pt;
	font-weight: normal;
}

.cl_div_grid_rates
{
	display: block;
	background-color: black;
}


.cl_td_grid
{
	background-color: #262222;
	padding-left:5px;
	border-radius:5px;
}

.cl_stream_off			/*  Used for Data streaming off message */
{
	height:200px;
	width:100%;
	padding:5px 0px 0px 10px;
	font-family: arial;
	font-size:10pt;
}


.cl_td_label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid gray;
	height:38px;
}

.cl_td_label_2
{
	font-size: 8pt;
	font-weight:bold;
	color: orange;
}

.cl_td_data
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	text-align: center;
	padding:10px 0px 10px 0px;
	height:38px;
	border-bottom:1px solid gray; 
}

.cl_divPoweredBy
{
	margin-top: 10px;
	text-align: center;
	font-family: arial,verdana,sans-serif;
	font-size: 10pt;
	font-weight: bold;	
}

.cl_vg_div_outer_marquee
{
	background-color: rgba(180,10,120,0.9);
	margin-top: 10px ;
	
}
.cl_vg_marq_scrollMsg
{
	padding: 5px 0px; 
	font-family: arial;
	font-size: 10pt;
	font-weight: normal;

}

.cl_vg_span_contact1
{

}

.cl_vg_span_contact2
{
	color: #FFEA4A;
}

.cl_vg_span_contact3
{

}