<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.vasavigold.live"
        versionCode="8" 
        version   = "1.0.0">


    <name>Vasavi Gold</name>

    <description>
        Vasavi Gold is a leading wholesaler of gold bar 999 purity in spot market primarily based in Eluru, Andhra Pradesh
    </description>

    <author href="http://www.magicbul.com" email="amitjain231@gmail.com">
        Amit kumar Jain
    </author>

	
	<gap:platform name="android" />
	
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen"   source="npm" spec="2.1.0" />
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	
	<!-- ANDROID * ANDROID * ANDROID -->
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="2000" />
	
	<gap:splash src="splash.png" />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-ldpi"  />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-mdpi"  />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-hdpi"  />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-xhdpi" />
	
	
	<icon src="icon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="xhdpi" />
	
	
	
	<!-- Preferences Permissions, Phonegap version to build -->
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="cli-5.2.0" />	
	
	
	
	
	<!-- Required only Notification permission -->
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<!-- New feture required for Phonegap Version > cli-5.2.0 ..-->	
	<access origin="*" />
</widget>