<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.vasavigold.live"
        versionCode="8" 
        version   = "1.0.0">


    <name>Vasavi Gold</name>

    <description>
        Vasavi Gold is a leading wholesaler of gold bar 999 purity in spot market primarily based in Eluru, Andhra Pradesh
    </description>

    <author href="http://www.magicbul.com" email="amitjain231@gmail.com">
        Amit kumar Jain
    </author>

	
	<gap:platform name="android" />
	
	
	
	<access origin="*" />	
	<plugin name='cordova-plugin-whitelist' spec='1.0.0' source='npm' />
	<plugin name='cordova-plugin-splashscreen' spec='2.1.0' source='npm' />
	<allow-navigation href="http://*/*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
	
	
	<gap:plugin name="org.apache.cordova.splashscreen" />
	
	
	<!-- ANDROID * ANDROID * ANDROID -->
	<preference name="SplashScreen" value="screen" />	
	<preference name="SplashScreenDelay" value="10000"/>
	
	<!--<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="2000" /> -->
	
	<platform name="android">
		<splash src="splash.png" density="port-ldpi" />
		<splash src="splash.png" density="land-ldpi" />
		<splash src="splash.png" density="port-mdpi" />
		<splash src="splash.png" density="land-mdpi" />
		<splash src="splash.png" density="port-hdpi" />
		<splash src="splash.png" density="land-hdpi" />
		<splash src="splash.png" density="port-xhdpi" />
		<splash src="splash.png" density="land-xhdpi" />
		<splash src="splash.png" density="port-xxhdpi" />
		<splash src="splash.png" density="land-xxhdpi" />
	</platform>
	
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-ldpi"  />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-mdpi"  />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-hdpi"  />
	<gap:splash src="splash.png" gap:platform="android" gap:qualifier="port-xhdpi" />
	
	
	<icon src="icon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="xhdpi" />
	
	
	
	<!-- Preferences Permissions, Phonegap version to build -->
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="cli-5.2.0" />	
	
	
	
	
	<!-- Required only Notification permission -->
	<feature name="http://api.phonegap.com/1.0/notification"/>

	
	
</widget>